

body
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    /* background-color: yellow; */
}


.div_1
{
    margin-top: 0px;
    margin-right: 10%;
    margin-bottom: 0px;
    margin-left: 10%;
    padding: 0;
    border: 1px solid gray;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

#div_1_top
{
    /* background-color: blue;*/
    height: 15%;
    /* border-width:1px 1px 0.5px 1px;*/
   /*  border:1px solid;*/
}

#div_1_center
{
    /* background-color: gray;*/
    /* height: 80%;*/
    /*border-width: 0.5px 1px 1px 1px;*/
    /* border:1px; */
}

